<%- include("partials/h_header") -%>
<center>
    <h1><u> Developer</u></h1>
    <br>
    <div class="card shadow  mb-5 bg-body rounded" style="width: 18rem;">
        <img src="/dev.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Amit Hegde</h5>
            <p class="card-text">Full Stack Web Developer</p>

        </div>
        <div class="card-footer">
            <small class="text-muted">2KE18CS005</small>
        </div>
    </div>
</center>

<%- include("partials/h_footer") -%>