<%- include("partials/a_header") -%>
<center>
    <h1><u> Developer</u></h1>
    <br>
    <div class="card mb-3 text-start shadow   bg-body rounded" style="max-width: 640px;">
        <div class="row g-0">
            <div class="col-md-5">
                <img src="/dev.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <h5 class="card-title">
                        <h5 class="card-title">Amit Hegde</h5>
                    </h5>
                    <p class="card-text fst-italic">Full Stack Web Developer</p>
                    <p class="card-text">USN: 2KE18CS005 <br>Collage: KLE Institute Of Technology <br>Email:
                        amituhegde@gmail.com <br>Phno: 7899537060</p>


                </div>
            </div>
        </div>
    </div>



</center>

<%- include("partials/a_footer") -%>