<%- include("partials/a_header") -%>
<center>

    <h1>TIME TABLE</h1>


    <div class="container m-5 p-5">
        <form action="/add" method="post">
            <div class="row g-3">
                <div class="col">
                    <input type="text" class="form-control" name="branch" aria-label="First name"
                        value=<%= user.branch %> readonly>
                </div>
                <div class="col">
                    <select class="form-select" name="sem" aria-label="Default select example">
                        <option selected>Select Sem</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                </div>
                <div class="col">
                    <select class="form-select" name="div" aria-label="Default select example">
                        <option selected>Select Division</option>
                        <option value="A">Div-A</option>
                        <option value="B">Div-B</option>
                    </select>
                </div>
                <div class="col">
                    <select class="form-select" name="day" aria-label="Default select example">
                        <option selected>Select Day</option>
                        <option value="0">MON</option>
                        <option value="1">TUE</option>
                        <option value="2">WED</option>
                        <option value="3">THRU</option>
                        <option value="4">FRI</option>
                        <option value="5">SAT</option>
                    </select> </div>
            </div>
            <h2>Classes</h2>

            <div class="row g-3">
                <div class="col-6">
                    <div class="row g-3">
                        <div class="col-6">
                            <input type="text" class="form-control" aria-label="First name" name="t1" value="8:30-9:30"
                                readonly>
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" placeholder="Class" aria-label="Last name"
                                name="c1">
                        </div>

                        <div class="col-6">
                            <input type="text" class="form-control" aria-label="First name" name="t2" value="9:30-10:30"
                                readonly>
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" placeholder="Class" aria-label="Last name"
                                name="c2">
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" aria-label="First name" name="t3"
                                value="10:30-11:00" readonly>
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" placeholder="Class" aria-label="Last name" name="c3"
                                value="BREAK" readonly>
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" aria-label="First name" name="t4"
                                value="11:00-12:00" readonly>
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" placeholder="Class" aria-label="Last name"
                                name="c4">
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" aria-label="First name" name="t5" value="12:00-1:00"
                                readonly>
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" placeholder="Class" aria-label="Last name"
                                name="c5">
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="row g-3">
                        <div class="col-6">
                            <input type="text" class="form-control" aria-label="First name" name="t6" value="1:00-1:30"
                                readonly>
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" placeholder="Class" aria-label="Last name" name="c6"
                                value="BREAK" readonly>
                        </div>

                        <div class="col-6">
                            <input type="text" class="form-control" aria-label="First name" name="t7" value="1:30-2:30"
                                readonly>
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" placeholder="Class" aria-label="Last name"
                                name="c7">
                        </div>

                        <div class="col-6">
                            <input type="text" class="form-control" aria-label="First name" name="t8" value="2:30-3:30"
                                readonly>
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" placeholder="Class" aria-label="Last name"
                                name="c8">
                        </div>

                        <div class="col-6">
                            <input type="text" class="form-control" aria-label="First name" name="t9" value="3:30-4:30"
                                readonly>
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" placeholder="Class" aria-label="Last name"
                                name="c9">
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" aria-label="First name" name="t10" value="4:30-5:30"
                                readonly>
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" placeholder="Class" aria-label="Last name"
                                name="c10">
                        </div>
                    </div>
                </div>
            </div>
<br>
<div class="d-grid gap-2 col-6 mx-auto g-3">
  
    <button class="btn btn-primary" type="submit">ADD/EDIT</button>
</div>

        </form>
    </div>
</center>
<%- include("partials/a_footer") -%>